---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="phorcys@uwu" class="bg-black font-plex text-white h-screen p-4">
	<div class="p-10px h-full" style="border: 5mm ridge rgba(211, 220, 50)">
		<slot />
	</div>
</BaseLayout>
