---
import BorderLayout from "@layouts/BorderLayout.astro";
---

<BorderLayout title="~creatable" titleName="Hey! Listen!" headerName="CREATABLE">
  <div class="text-5xl text-center w-full h-full">Adding features does not necessarily increase functionality -- it just makes the manuals thicker.</div>
</BorderLayout>