---
import FilesLayout from "%layouts/FilesLayout.astro";
import FilesPanel from "%components/FilesPanel.astro";
import File from "%components/File.astro";
import { readdir } from "node:fs/promises";

const files = await readdir("public/beef/files/");
---

<FilesLayout>
    <div class="flex md:(flex-row) lt-md:(flex-col) h-full p-4 gap-4">
        <FilesPanel>
            <File name=".." path="/~beef/" />
            {files.map(i => <File name={i} path={`/beef/files/${i}`} />)}
        </FilesPanel>
        <FilesPanel center>
            <p>when i move to dynamic routes for this, this content will actually update :)</p>
        </FilesPanel>
    </div>
</FilesLayout>