---
import IndexLayout from "%layouts/DOSLayout.astro";
---

<IndexLayout>
	<div id="bootscreen-container" class="leading-tight">
        <div class="text-[#b767d2]">
            <p>Copyright 1991, Oak Technology VGA BIOS 067B/C V1.042</p>
            <!-- TODO: Detect actual VRAM amount? -->
            <p>Video Memory: 512KB</p>
            <noscript>
                <div class="mt-4">
                    <p>Error! JavaScript not detected.</p>
                    <a href="/~beef/about">Click here to continue</a>
                </div>
            </noscript>
        </div>
	</div>
</IndexLayout>

<script>
import boot from "%js/boot";

document.addEventListener("DOMContentLoaded", boot);
</script>