---
export interface Props {
	name: string;
	href: string;
}

const { name, href } = Astro.props;

const currentPath = Astro.url.pathname;
const fixedPath =
	currentPath.length > 1 && currentPath.endsWith("/")
		? currentPath.slice(0, -1)
		: currentPath;
---

<a href={href} class={`transition-opacity flex flex-row items-center hover:(opacity-50) ${fixedPath === href ? "text-[#ddd]!" : "text-[#bbb]!"}`}>{name}</a>