main
  h1
    display: flex
    align-items: center
    gap: .5rem
    font-size: 1.75rem
    margin-bottom: .75rem

  a
    text-decoration: underline
    text-decoration-style: dashed
    text-decoration-color: #808080
    transition: text-decoration-color 250ms ease
  
  a:hover
    text-decoration-color: #fff

#quiet
  img
    margin: .5rem 0