---
import DOSLayout from "%layouts/DOSLayout.astro";
import ascii from "%/ascii.txt?raw";
---

<DOSLayout>
    <div class="flex justify-center">
        <div class="<md:flex flex-col inline-grid grid-cols-[repeat(2,auto)] gap-x-6">
            <img class="row-span-2 md:h-[160px] md:w-[160px] <md:self-center" src="/beef/img/logo.png" />

            <pre class="text-[1em] md:mt-7 leading-tight">{ascii}</pre>
            <p class="text-right">on <a class="underline" href="/">uwu.network</a></p>
        </div>
    </div>
    <slot />
</DOSLayout>