---
import "%css/global.sass";
import "%css/rain.css";

import JBMono from "%components/JBMono.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="..." class="bg-gradient-to-b from-[#202020] to-[#111119] text-[#ddd] overflow-hidden h-screen font-jbmono">
    <link slot="head" rel="icon" href="/beef/img/favicon.gif" type="image/gif">

    <JBMono />
    <div class="rain front-row" />
    <div class="rain back-row" />

    <main class="absolute z-999 w-full h-full">
        <slot />
    </main>
</BaseLayout>

<script>
    import rainmaker from "%js/rain";

    rainmaker();
</script>