---
import BorderLayout from "@layouts/BorderLayout.astro"

---

<BorderLayout titleName="kasimir" headerName="KASIMIR" mainHref="/~kasimir">
  <h1>Welcome!</h1>
  There's gonna be an actual page here soon.
</BorderLayout>
