.errwrapper {
    height: 100%;
    background-image: url(/alyxia/img/error/bg/snow.png);
    background-size: cover;
    background-position: center;
}

.button-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.button {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    box-shadow: 0px 6px #fff, 0px 0px 16px #fff;
    width: 10em;
    font-family: Heading;
    font-size: 2em;
    cursor: pointer;
    position: relative;
    top: 0px;
    transition: 0.5s;
    text-align: center;
}

.button:hover {
    box-shadow: 0px 2px #fff, 0px 0px 64px #fff;
    top: 4px;
}

.snow {
    background: none;
    background-image: url("/alyxia/img/error/misc/s1.png"), url("/alyxia/img/error/misc/s2.png"),
        url("/alyxia/img/error/misc/s3.png");
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: snow 100s linear infinite;
    animation: snow 100s linear infinite;
    pointer-events: none;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 5000px 5000px, 1000px 2000px, -1000px 1500px;
    }
    100% {
        background-position: 5000px 10000px, 2000px 4000px, -1000px 3000px;
    }
}

@-webkit-keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 5000px 5000px, 1000px 2000px, -1000px 1500px;
    }
    100% {
        background-position: 5000px 10000px, 2000px 4000px, -1000px 3000px;
    }
}
