@font-face {
  font-family: 'Paragraph';
  src: url(/alyxia/font/paragraph.ttf);
}

@font-face {
  font-family: 'Heading';
  src: url(/alyxia/font/heading.woff);
}

@font-face {
  font-family: CNT;
  src: url(/alyxia/font/countdown.ttf);
}

html {
  background-color: #000;
  color: #fff;
  font-family: 'Paragraph', sans-serif;
  font-size: 16px;
  cursor: url(/alyxia/img/ui/cursor.png), default;
}

a {
  cursor: url(/alyxia/img/ui/pointer.png), default;
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: Heading;
}

*::-moz-selection {
  color: #000;
  background-color: #fff;
}

*::selection {
  color: #000;
  background-color: #fff;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 1);
}

.separator {
  width: 100%;
  height: 32px;
  background-image: url(/alyxia/img/ui/seperator.png);
}

.separate {
  width: 100%;
  height: 32px;
  background-image: url(/alyxia/img/ui/seperate.png);
}

.syn {
  font-family: S;
}

.padded {
  padding-left: 10vw;
  padding-right: 10vw;
}

.overload {
  margin-left: 20vw;
  width: calc(100% - 40vw);
  background-color: #000;
}

.link {
  color: #ff0;
}

.link:hover {
  color: #ff0;
  text-decoration: none;
}

.overno {
  color: #888 !important;
  pointer-events: none;
}

.overno:hover {
  background-color: #888 !important;
  color: #000 !important;
}

/* Index List */
#index {
  background-color: #000;
  /* background-image: url('/res/img/bg/index.png'); */
  /* background-attachment: fixed; */
  /* background-position: center; */
  padding: 5.2em 10vw 5.2em 10vw;
}

.indexlist {
  width: calc(100% - 170px);
  display: inline-block;
  height: 64px;
  line-height: 64px;
  vertical-align: 28px;
}

.indexlist span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.indexlist a,
.linkt1 {
  color: #ffff00;
}

.indexlist a:hover,
.linkt1:hover {
  background-color: #ffff00;
  color: #000;
}
