---
import MyLayout from '>layouts/ioj4Layout.astro'
import IndexBanner from ">components/IndexBanner.astro"
---

<MyLayout class="text-center">

	<div class="flex-grow"/>

	<IndexBanner />

	<p>
		Hi, I'm ioj4..
		<i>and I have no idea how I ended up here</i>
	</p>


	<p>
		I mainly work on
		<a href="https://github.com/uwu/shelter">shelter</a>
		and
		<a href="https://github.com/ioj4/shelter-plugins">plugins for it</a>
	</p>


	<div class="flex-grow"/>

	<small class="italic opacity-30 hover:opacity-100">
		betting 50 quid I won't update this site ever again ૮₍ ˃ ⤙ ˂ ₎ა
	</small>

</MyLayout>
