---
import { getCollection } from "astro:content";
import { formatDate } from "☆js/date";

let posts = await getCollection("taskyPosts", (post) => !post.data.unlisted);
posts = posts.sort(
	(prev, next) => next.data.date.valueOf() - prev.data.date.valueOf(),
);
---

<ul class="!pl-0 dashed">
	{
		posts.map((post) => (
			<li>
				<a class="!decoration-none" href={`/~tasky/posts/${post.id}`}>
					{post.data.title}
					{
						post.data.sup ? (
							<sup class="italic text-orange-11 hidden sm:inline">
								{post.data.sup}
							</sup>
						) : null
					}
				</a>
				<div class="dash" />
				<div class="text-gray-11">{formatDate(post.data.date)}</div>
			</li>
		))
	}
</ul>
