---
import BorderLayout from "@layouts/BorderLayout.astro";
import CrossCode from "#components/CrossCode.astro";

import loadtsuki from "#/img/loader/loadtsuki.png";
import loadspin from "#/img/loader/loadspin.png";
import loadfinish from "#/img/loader/loadfinish.png";

import "#css/reset.css";
import "#css/loader.css";
import "#css/common.css";
import "#css/scanlines.css";
---

<div id="contentloader">
	<img id="loadtsuki" src={loadtsuki} />
	<img id="loadspin" src={loadspin} />
</div>

<BorderLayout
	bodyClass="wrapper"
	title="~alyxia"
	titleName={Astro.props.titleName ?? "what?"}
	headerName="ALYXIA"
	mainHref="/~alyxia"
	scroll
>
	<main>
		<CrossCode>
			<slot />
		</CrossCode>
	</main>
</BorderLayout>

<script define:vars={{ loadspin, loadfinish }}>
	window.loadspin = loadspin;
	window.loadfinish = loadfinish;
</script>

<script>
	// Remove IBM Plex as the default document font.
	document.body.classList.remove("font-plex");

	// Set up the loader
	window.addEventListener("load", function (event) {
		document.getElementById("contentloader").className = "destroyedloader";
		(document.getElementById("loadspin") as HTMLImageElement).src =
			loadfinish;
	});
	window.onbeforeunload = function () {
		document
			.getElementById("contentloader")
			.classList.remove("destroyedloader");
		(document.getElementById("loadspin") as HTMLImageElement).src =
			loadspin;
	};
</script>
