---
import IndexLayout from "@layouts/IndexLayout.astro";
import _404 from "/404.txt?raw";
import rawInsults from "/insults.txt?raw";

const insults = rawInsults.split("\n");
---

<IndexLayout>
	<div class="place-items-center font-plex h-full grid children:(col-start-1 row-start-1 col-end-2 row-end-2)">
		<canvas id="gol" class="w-full h-full"></canvas>

		<div id="gol-buttons" class="absolute bottom-2 right-2 flex gap-2 opacity-0 transition-opacity duration-500">
			<button id="gol-fade">fade</button>
			<button id="gol-rand">random</button>
			<button id="gol-clear">clear</button>
			<button id="gol-stop">pause</button>
		</div>

		<div
			class="flex flex-col justify-center items-stretch gap-2 z-1 w-[400px] children:(bg-black p-5 border border-white)"
		>
			<div>
				<pre class="text-center">{_404}</pre>
				<p class="text-right"><a href="/">back to uwu.network</a></p>
			</div>

			<p class="italic text-center" id="snarky-sudo-insult">
				<noscript>My mind is going. I can feel it.</noscript>
			</p>
		</div>
	</div>
</IndexLayout>

<style is:global>
	.gol-row {
		display: flex;
	}

	.gol-cell {
		width: 10px;
		height: 10px;
		background: transparent;
		transition: background-color 250ms linear;
	}

	/* hello linux chromium users! */
	.gol-simple .gol-cell {
		transition: none;
	}

	.gol-on {
		background: #ccc;
	}

	#gol-buttons > * {
		background: black;
		border: 1px solid white;
		padding: 0.25rem;
	}
</style>

<script>
	import GOL from "@res/js/gameOfLifeWebGL";
	GOL(10, 10);
	document.getElementById("gol-buttons")!.classList.remove("opacity-0");
</script>

<script define:vars={{ insults }}>
	document.getElementById("snarky-sudo-insult").innerText = insults[Math.floor(Math.random() * insults.length)];
</script>
