---
import IndexLayout from "@layouts/IndexLayout.astro";
import _404 from "/404.txt?raw";
import rawInsults from "/insults.txt?raw";

const insults = rawInsults.split("\n")
---

<IndexLayout>
  <div class="grid place-items-center h-full">
    <div id="gol"></div>
    <div class="flex flex-col justify-center items-stretch gap-2 z-1 font-plex w-[400px] children:(bg-black p-5)">

      <div>
        <pre class="text-center">{_404}</pre>
        <p class="text-right"><a href="/">back to uwu.network</a></p>
      </div>

      <p class="italic text-center" id="snarky-sudo-insult">
        <noscript>My mind is going. I can feel it.</noscript>
      </p>
    </div>
  </div>
</IndexLayout>

<style>
  .grid> :global(*) {
    grid-area: 1 / 1 / 2 / 2;
  }
</style>

<style is:global>
  .gol-row {
    display: flex;
  }

  .gol-cell {
    width: 10px;
    height: 10px;
    background: transparent;
    transition: background-color 250ms linear;
  }

  .gol-on {
    background: #CCC;
  }
</style>

<script>
  import GOL from "@res/js/gameOfLife";
  GOL(10, 10);
</script>

<script define:vars={{ insults }}>
  document.getElementById("snarky-sudo-insult").innerText = insults[Math.floor(Math.random() * insults.length)]
</script>