---
import IndexLayout from "../layouts/IndexLayout.astro";
import mainUwu from "/uwus/1.txt?raw";
import { readdir } from "fs/promises";

const uwuCount = (await readdir("public/uwus")).length;
---

<IndexLayout title="uwu">
	<div class="grid place-items-center h-full text-center">
		<div>
			<a href="/uwus" class="text-white no-underline">
				<pre id="big-uwu" class="text-3xl min-h-60"><noscript>{mainUwu}</noscript></pre>
			</a>
			<!-- CHANGE SPANS TO A TAGS LATER -->
			<p class="font-plex mt-2">a group of <span class="bg-white text-black underline" href="/people">people</span> building

				<span class="bg-white text-black underline">projects</span> that won't change the world
			</p>
		</div>
	</div>

	<script define:vars={{ uwuCount }} type="module">
		const pickedUwu = Math.floor(Math.random() * uwuCount);
		const bigUwu = document.getElementById("big-uwu");

		bigUwu.style.opacity = 0;

		try {
			const resp = await fetch(`/uwus/${pickedUwu}.txt`);
			if (!resp.ok) throw null;
			bigUwu.innerText = await resp.text();
		} catch {
			bigUwu.innerHTML = bigUwu.textContent;
		}

		bigUwu.style.transition = "opacity 1s linear";
		bigUwu.style.opacity = "";
	</script>
</IndexLayout>