---
import IndexLayout from "../layouts/IndexLayout.astro";
import PoweredBy from "../components/PoweredBy.astro";
import DirListing from "../components/DirListing.astro";
---

<IndexLayout title="uwus">
  <div class="font-plex">
    <div class="text-3xl">Index of /uwus</div>

    <DirListing dir="/uwus" />

    <PoweredBy />
  </div>
</IndexLayout>