---
import IndexLayout from "../layouts/IndexLayout.astro";
import PoweredBy from "../components/PoweredBy.astro";
import DirListing from "../components/DirListing.astro";
---

<IndexLayout title="uwus">
  <div class="p-2 font-plex">
    <div class="text-3xl">index of /uwus</div>

    <div class="underline">
      <DirListing dir="/uwus" />
    </div>

    <PoweredBy />
  </div>
</IndexLayout>
