<div id="index">
    <div class="overload">
        <img src="/alyxia/img/logos/uwunet.png" /><img
            src="/alyxia/img/right.png"
        /><div class="indexlist">
            <span><a href="/">HOME</a> | <a href="/people">PEOPLE</a></span>
        </div><br />
    </div>
</div>
