<div id="index">
    <div class="overload">
        <img src="/alyxia/img/logos/alyxia.png" />
        <img src="/alyxia/img/right.png" />
        <div class="indexlist">
            <span>
                <a href="/~alyxia">HOME</a> | <a href="/~alyxia/uwubp">UWUBP</a>
            </span>
        </div><br />
        <!-- The margin here is a hack, remove once logo is updated -->
        <img style="margin: 0 21px;" src="/alyxia/img/logos/uwunet-2.png" />
        <img src="/alyxia/img/right.png" />
        <div class="indexlist">
            <span>
                <a href="/">HOME</a> | <a href="/people">PEOPLE</a>
            </span>
        </div>
    </div>
</div>
