---
import { parse } from "#js/parse";
import { formatDate } from "#js/lib";
import IndexLayout from "#layouts/IndexLayout.astro";
import UwubpLayout from "#layouts/UwubpLayout.astro";

// this function is used by astro to dynamically generate routes
export function getStaticPaths() {
    // get all posts again, same as before
    const posts = import.meta.glob("./_posts/*.txt", {
        eager: true,
        as: "raw",
    });

    return Object.keys(posts).map((path) => ({
        params: {
            post: path.split("/").pop().split(".")[0],
        },
        props: {
            content: parse(posts[path]),
        },
    }));
}

const { post: date } = Astro.params;
const { content } = Astro.props;
---

<UwubpLayout>
    <h1>{formatDate(date.toString())}</h1>
    <Fragment set:html={content} />
</UwubpLayout>
