---
import IndexLayout from "#layouts/IndexLayout.astro";
import "#css/404.scss";
---

<script>
    (document.querySelector(".button:nth-child(1)") as HTMLDivElement).onclick =
        () => window.history.back();

    (document.querySelector(".button:nth-child(2)") as HTMLDivElement).onclick =
        () => (window.location = "/~alyxia");
</script>

<IndexLayout bgm={{ src: "bgm/404.ogg", vol: 1, loop: true }} border>
    <div class="errwrapper">
        <div class="snow"></div>
        <center>
            <div style="height: 20vh;"></div>
            <img src="/alyxia/img/error/404.png" />
            <h1>File not found</h1>
            <div style="height: 20vh;"></div>
            <div class="button-holder">
                <div class="button">Return</div><div class="button">Home</div>
            </div>
        </center>
    </div>
</IndexLayout>
