---
import IndexLayout from "#layouts/IndexLayout.astro";
---

<IndexLayout>
  <div class="wallpaper">
    <h1 id="welcome">Welcome.</h1>
  </div>
  <div class="separator"></div>
  <div class="padded">
    <h2>Hi, I am Alyxia.</h2>
    <h2>I am currently working on this webpage.</h2>
    <h2>There will be a way to navigate pages soon.</h2>
  </div>
  <div style="display: flex; flex-direction: row;">
    <img height="48" width="48" src="/alyxia/img/icons/err.png" />
    <div class="separator"></div>
    <img height="48" width="48" src="/alyxia/img/icons/err.png" />
  </div>
</IndexLayout>

<script>
  import { write } from "#js/write.js";
  write(document.getElementById("welcome"));
</script>

<style is:global>
  #welcome {
    display: table-cell;
    vertical-align: middle;
  }
  .wallpaper {
    display: table;
    height: 18vh;
    width: 100%;
    text-align: center;
    line-height: 6rem;
    background-color: #000;
    background-image: url(/alyxia/img/bg/login.png);
    background-attachment: fixed;
    background-position: center;
  }
</style>
