---
import "../../res/css/alyxia/common.css";
import "../../res/css/alyxia/scanlines.css";
---

<script>
import {write} from "../../res/js/alyxia/write.js";
write(document.querySelector("#test"))
</script>

<div class="separator"></div>
<div class="padded">
  <h1 id="test">Welcome.</h1>
</div>
<div class="separator"></div>
