---
import IndexLayout from "#layouts/IndexLayout.astro";
import { parseChat } from "#js/parseChats";
import { Message } from "#components/oracle/Message";
import "#css/chat.scss";

export function getStaticPaths() {
    const logs = import.meta.glob("./_logs/*.txt", {
        eager: true,
        as: "raw",
    });

    return Object.keys(logs).map((path) => ({
        params: {
            log: path.split("/").pop().split(".")[0],
        },
        props: {
            content: parseChat(logs[path]),
        },
    }));
}

const { log: title } = Astro.params;
const { content } = Astro.props;
---

<IndexLayout>
    {title}
    <div class="mcon">
        {
            content.map((msg) => (
                <Message name={msg.name} side={msg.side} text={msg.content} />
            ))
        }
    </div>
</IndexLayout>
