---
import PhorcysLayout from "§layouts/PhorcysLayout.astro";
---

<PhorcysLayout>
	<img src="/phorcys/gifs/lord.gif" class="w-50 h-50 float-right"/>
	<p>hello i am phorcys this is my page :-)</p>
</PhorcysLayout>