---
import "^css/global.sass";
import BorderLayout from "@layouts/BorderLayout.astro";
import getProps from "@res/js/getProps";
import posts from "^/quietsystem.json";

const { postIdx } = getProps(Astro.props);
---

<BorderLayout
  title={posts[postIdx].title}
  titleName="Quiet System"
  headerName="Quiet System"
  footerOride={"YELLOWSINK @ UWU.NETWORK " + posts[postIdx].date}
  mainHref="/~sink/blog"
>
  <div id="quiet">
    <slot />
  </div>
</BorderLayout>
