---
import "^css/global.sass";
import BorderLayout from "@layouts/BorderLayout.astro";

const posts = await Astro.glob("/src/pages/~sink/blog/**/*.md");

const { frontmatter } = posts.find(
  (p) =>
    Astro.request.url.endsWith(p.url) ||
    Astro.request.url.slice(0, -1).endsWith(p.url)
);
---

<BorderLayout
  title={frontmatter.title}
  titleName="Quiet System"
  headerName="Quiet System"
  footerOride={"YELLOWSINK @ UWUNET " + frontmatter.pubDate}
  mainHref="/~sink/blog"
>
  <div id="quiet">
    <slot />
  </div>
</BorderLayout>
