---
import "^css/global.sass";
import BorderLayout from "@layouts/BorderLayout.astro";
import Hits from "^components/quiet/Hits.astro";

const posts = [
	...(await Astro.glob("/src/pages/~sink/blog/**/*.md")),
	...(await Astro.glob("/src/pages/~sink/blog/**/*.mdx"))
];

const { frontmatter } = posts.find(
	(p) =>
		Astro.request.url.endsWith(p.url) ||
		Astro.request.url.slice(0, -1).endsWith(p.url)
);
---

<BorderLayout
	title={frontmatter.title}
	titleName="Quiet System"
	headerName="Quiet System"
	footerOride={"YELLOWSINK @ UWUNET " + frontmatter.pubDate.split("T")[0]}
	mainHref="/~sink/blog"
	scroll
	ogpType="article"
	ogpSiteName="Quiet System"
	ogpDescription={frontmatter.description}
>
	<meta slot="head" property="og:title" content={frontmatter.title + " - Quiet System"} />
	<meta slot="head" property="og:image" content="/sink/silent.png" />
	<meta slot="head" property="article:author" content="Yellowsink" />
	<meta slot="head" property="article:published_time" content={frontmatter.pubDate} />

	<div id="quiet">
		<Hits date={frontmatter.physPubDate ?? frontmatter.pubDate} />
		<slot />
	</div>

	<script>
		import "^js/quiet_analytics.js"; // astro will bundle this
	</script>
</BorderLayout>
