---
import SinkLayout from "^layouts/SinkLayout.astro";
import Scared from "^components/toys/Scared.astro";
---

<SinkLayout title="toys">

  <div class="grid grid-cols-3 grid-rows-3 h-full place-items-center">
    <Scared />
  </div>

</SinkLayout>