---
import SinkLayout from "^layouts/SinkLayout.astro";
import Scared from "^components/toys/Scared.astro";
import Bouncy from "^components/toys/Bouncy.astro";
import Springy from "^components/toys/Springy.astro";
---

<SinkLayout title="toys">

	<div class="grid grid-cols-3 grid-rows-3 h-full place-items-center">
		<Scared />
		<Bouncy />
		<Springy />

		<p>//TODO</p>
		<p>//TODO</p>
		<p>//TODO</p>
		<p>//TODO</p>
		<p>//TODO</p>
		<p>//TODO</p>
	</div>

</SinkLayout>