---
import DrawnPfp from "./DrawnPfp.astro";

const yellowsink = `
___  _ _____ _     _     ____  _      ____  _  _      _  __
\\  \\///  __// \\   / \\   /  _ \\/ \\  /|/ ___\\/ \\/ \\  /|/ |/ /
 \\  / |  \\  | |   | |   | / \\|| |  |||    \\| || |\\ |||   /
 / /  |  /_ | |_/\\| |_/\\| \\_/|| |/\\||\\___ || || | \\|||   \\
/_/   \\____\\\\____/\\____/\\____/\\_/  \\|\\____/\\_/\\_/  \\|\\_|\\_\\
`.trim();
---

<div class="flex justify-center">
	<div class="<md:flex flex-col inline-grid grid-cols-[repeat(2,auto)] grid-rows-2 gap-x-6">
		<DrawnPfp class="row-span-2 <md:self-center" />

		<pre class="<md:text-[0.5em] leading-tight" aria-label="yellowsink">{yellowsink}</pre>
		<p class="text-right">on uwu.network</p>
	</div>
</div>