---
import { randomUUID } from "crypto"
import Spinner from "./Spinner.astro";
const { time, speed, width, height } = Astro.props;
const id = "sus" + randomUUID();
---

<style define:vars={{ width, height }}>
  div {
    display: inline-block;
    width: var(--width);
    height: var(--height);
    position: relative;
  }

  div> :global(:not(noscript)) {
    position: absolute;
    margin-left: calc(var(--width) / 2);
    margin-top: calc(var(--height) / 2);
    transform: translate(-50%, -50%);
  }
</style>

<div id={id} class="contents transition-none duration-1000 ease-linear">
  <noscript>
    <slot />
  </noscript>
  <Spinner class="hidden" />
</div>

<script define:vars={{ id, time, speed }}>

  const suspense = document.getElementById(id);
  const spinner = suspense.querySelector(".spinner");

  // get no-JS styles out of the way
  suspense.classList.remove("contents");
  spinner.classList.remove("hidden");

  // remove <noscript> but keep a copy for the innerHTML
  const noscr = suspense.querySelector("noscript");
  noscr.remove();

  setTimeout(() => {
    // set elements, make invisible
    suspense.innerHTML = noscr.innerHTML;
    suspense.style.opacity = 0;

    // fade in the content
    // for info on why two RAFs are needed,
    // see the excellent talk on how the event loop works
    requestAnimationFrame(() => requestAnimationFrame(() => {
      suspense.style.transitionProperty = "opacity";
      suspense.style.opacity = 1;
    }));
  }, time ?? 2000)
</script>