---
import { randomUUID } from "crypto"
const { time, speed, width, height } = Astro.props;
const id = "sus" + randomUUID();
---

<style define:vars={{ width, height }}>
  div {
    display: grid;
    width: var(--width);
    height: var(--height);
  }
  div > :global(*) {
    grid-area: 1 / 1 / 2 / 2;
  }
</style>

<div id={id} class="contents transition-none duration-1000 ease-linear max-w-max">
  {/* content, JS promotes this out of the noscript */}
  <noscript><slot /></noscript>
  {/* spinner */}
  <p class="hidden place-self-center"></p>
</div>

<script define:vars={{ id, time, speed }}>
  const suspense = document.getElementById(id);
  const spinner = suspense.querySelector("p");

  // this makes the height look right
  const noscr = suspense.querySelector("noscript");
  noscr.remove();
  const newElem = document.createElement("div");
  newElem.innerHTML = noscr.innerHTML;
  newElem.style.visibility = "hidden";
  suspense.prepend(newElem);

  suspense.classList.remove("contents");
  spinner.classList.remove("hidden");

  const spins = "|/-\\";
  let spinState = 0;
  const cancelSpin = setInterval(() => {
    if (++spinState >= spins.length)
      spinState = 0;
    
    spinner.innerText = spins[spinState];
  }, speed ?? 50);

  setTimeout(() => {
    clearInterval(cancelSpin);
    suspense.innerHTML = newElem.innerHTML;
    suspense.style.opacity = 0;

    // for info on why two of these is needed,
    // see the excellent talk on how the event loop works
    setTimeout(() => {
      suspense.style.transitionProperty = "opacity";
      suspense.style.opacity = 1;
    }, 100)
  }, time ?? 2000)
</script>
