<div id="bouncy-container" class="border border-t-0 border-white relative place-self-stretch">
  <div id="bouncy" class="border border-white rounded-1 absolute w-15px h-15px" />
</div>

<script>
  import { v2add, v2sub } from "^js/math"

  const container = document.getElementById("bouncy-container");
  const bouncy = document.getElementById("bouncy");

  const padding = bouncy.clientHeight / 2;

  const yStopThres = 1.5; // max y velocity to stop at
  const yBotThres = 7; // max y level to snap down at

  const xDamping = .01; // a little goes a long way
  const bounceDamping = .4;
  // units: pixels per 50ms
  const gravity = 2;
  let velocity = [10, 0];

  let position = [padding, padding];

  let mousePos;
  container.onmousedown = (ev) => mousePos = [ev.clientX, ev.clientY];
  container.onmousemove = (ev) => mousePos && (mousePos = [ev.clientX, ev.clientY]);
  window.addEventListener("mouseup", () => mousePos = null);

  setInterval(() => {
    if (mousePos) {
      const containerPos = [container.offsetLeft, container.offsetTop];
      const relativePos = [bouncy.offsetLeft, bouncy.offsetTop];
      const realPos = v2add([padding, padding], v2add(relativePos, containerPos))
      velocity = v2sub(mousePos, realPos);
    }

    const size = [container.clientWidth, container.clientHeight];

    const precheckPos = v2add(position, velocity);

    velocity[0] *= (1 - xDamping);
    velocity[1] += gravity;

    // bottom bounce
    if (precheckPos[1] + (padding * 2) >= size[1])
      velocity[1] *= -(1 - bounceDamping);

    // right bounce
    if (precheckPos[0] + (padding * 2) >= size[0])
      velocity[0] *= -(1 - bounceDamping);

    // left bounce
    if (precheckPos[0] <= 0)
      velocity[0] *= -(1 - bounceDamping);

    if (!mousePos && Math.abs(velocity[1]) <= yStopThres && size[1] - (precheckPos[1] + (padding * 2)) <= yBotThres) {
      velocity[1] = 0;
      position[1] = size[1] - (padding * 2);
    }

    position = v2add(position, velocity);

    bouncy.style.left = position[0] + "px";
    bouncy.style.top = position[1] + "px";
  }, 50);
</script>