---
import IndexLayout from "@layouts/IndexLayout.astro";

const title = `
                                                                 88
             ,,                                                  88
             ""                                                  88
8b,     ,d8  88  8b,dPPYba,  8b,dPPYba,   ,adPPYba,  ,adPPYYba,  88
 \`Y8, ,8P'   88  88P'   "Y8  88P'   "Y8  a8P_____88  ""     \`Y8  88
   )888(     88  88          88          8PP"""""""  ,adPPPPP88  88
 ,d8" "8b,   88  88          88          "8b,   ,aa  88,    ,88  88
8P'     \`Y8  88  88          88           \`"Ybbd8"'  \`"8bbdP"Y8  88

`;

const description = "graphics, js and occasionally some rust";
---

<IndexLayout>
	<div class="relative font-plex h-full w-full overflow-hidden bg-black text-white">
		<canvas id="raytracer" class="absolute inset-0 w-full h-full block z-0"></canvas>

		<div class="absolute inset-0 z-10 pointer-events-none flex flex-col justify-between p-4 lg:p-0">
			<div class="lg:hidden pointer-events-auto self-center bg-black backdrop-blur-sm border border-white">
				<pre
					class="sm:text-sm sm:leading-[16px] text-[8px] leading-[10px] text-center font-mono whitespace-pre sm:mx-8 mx-4 my-2">{title}</pre>
				<span class="block h-px w-full bg-white"></span>
				<pre class="text-center sm:my-6 my-4 sm:text-[1em] text-sm">{description}</pre>
			</div>

			<div
				id="user"
				class="hidden lg:block pointer-events-auto items-stretch absolute bottom-8 left-8 bg-black border border-white"
			>
				<pre class="text-sm leading-[16px] text-center font-mono mx-8 my-4">{title}</pre>
				<span class="block h-px w-full bg-white"></span>
				<pre class="text-center my-6 text-lg">{description}</pre>
			</div>

			<div
				id="raytracer-buttons"
				class="pointer-events-auto bg-black border border-white p-3 flex flex-col gap-3 lg:absolute lg:bottom-8 lg:right-8 lg:flex-row lg:items-center lg:gap-2 lg:p-2"
			>
				<div class="grid grid-cols-2 gap-2 lg:flex lg:gap-2">
					<button
						id="raytracer-ui"
						class="hover:bg-white hover:text-black px-3 py-2 lg:px-2 lg:py-1 border border-white lg:border-none"
						>hide</button
					>
					<button
						id="raytracer-stop"
						class="hover:bg-white hover:text-black px-3 py-2 lg:px-2 lg:py-1 border border-white lg:border-none"
						>pause</button
					>
					<button
						id="raytracer-ground"
						class="col-span-2 lg:col-span-1 hover:bg-white hover:text-black px-3 py-2 lg:px-2 lg:py-1 border border-white lg:border-none whitespace-nowrap"
						>moving ground: true</button
					>
					<button
						id="raytracer-bitdepth"
						class="col-span-2 lg:col-span-1 hover:bg-white hover:text-black px-3 py-2 lg:px-2 lg:py-1 border border-white lg:border-none whitespace-nowrap"
						>bitdepth: 4</button
					>
				</div>
			</div>
		</div>
	</div>

	<script>
		import raytracer from "⚢js/raytracer";
		raytracer();
	</script>
</IndexLayout>
