---
	import CenterBox from "@components/alyxia/CenterBox.astro";

	import "#css/reset.css";
	import "#css/loader.css";
	import "#css/floppy.scss";
	import "#css/common.css";
	import "#css/scanlines.css";

	import loadtsuki from "#/img/loader/loadtsuki.png";
	import loadspin from "#/img/loader/loadspin.png";
	import loadfinish from "#/img/loader/loadfinish.png";
---

<div id="contentloader">
	<img id="loadtsuki" src={loadtsuki} />
	<img id="loadspin" src={loadspin} />
</div>


<slot />

<div id="floppy" class="floppygone">
	<CenterBox title="test" divclass="floppyblock" headerclass="floppyheader" fadeinclass="floppyfadein" />
</div>

<script define:vars={{ loadspin, loadfinish }}>
	window.loadspin = loadspin;
	window.loadfinish = loadfinish;
</script>

<script>
	import { write } from "#js/write.js";

	window.addEventListener("load", function (event) {
		document.getElementById("contentloader").className = "destroyedloader";
		document.getElementById("loadspin").src = loadfinish;
	});

	window.onbeforeunload = function () {
		document.getElementById("contentloader").classList.remove("destroyedloader");
		document.getElementById("loadspin").src = loadspin;
	}


	let floppy = document.getElementById("floppy");
	let block = document.getElementById("floppyblock");
	let fadein = document.getElementById("floppyfadein");
	let isPaused = false;

	function keyHandler(e) {
		console.log("keyHandler called!")
		if (e.keyCode == 13) {
			floppy.classList.add("floppygone");
			document.removeEventListener("keypress", keyHandler);
			isPaused = false;
		}
	}

	setInterval(async () => {
		if (!isPaused) {
			console.log("running, but unpaused", isPaused)
			// Pause the interval until the user 
			isPaused = true;

			// Show the floppy menu
			floppy.classList.remove("floppygone");

			setTimeout(function () { block.classList.remove("nah") }, 1000);
			setTimeout(function () { block.classList.remove("nope") }, 1000);
			setTimeout(function () { fadein.classList.remove("nope") }, 2000);
			setTimeout(function () { write(document.getElementById("floppyheader")); }, 1900);

			document.addEventListener("keypress", keyHandler);
		} else {
			console.log("running, but paused", isPaused)
		}
	}, 1000);
</script>