---
---

<div>
  <slot />
</div>

<style>
  * {
    display: flex;
    flex-flow: row wrap;
    width: fit-content;
  }

  * :global(:is(img, video)) {
    height: 25rem;
  }

  * :global(:is(img, video, p)) {
    margin: 0 !important;
  }
</style>
