---
import "unocss-hmr-fix";
import "@res/css/preflight.css";

// THIS IS THE MAIN LAYOUT
// your layout should import THIS

const { title, class: className } = Astro.props;
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="uwu.network">
	<meta property="og:description" content="a group of people building projects that won't change the world">
	<title>{title}</title>
	<slot name="head" />
</head>

<body class={className}>
  <slot />
</body>

</html>