---
import "@res/css/preflight.css";

// THIS IS THE MAIN LAYOUT
// your layout should import THIS

const { title, class: className, ogpType, ogpSiteName, ogpDescription } = Astro.props;
---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta property="og:type" content={ogpType ?? "website"}>
	<meta property="og:site_name" content={ogpSiteName ?? "uwu.network"}>
	<meta property="og:description" content={ogpDescription ?? "a group of people building projects that won't change the world"}>
	<title>{title}</title>
	<slot name="head" />
</head>

<body class={className}>
	<slot />
</body>

<script async>
	if (window.matchMedia &&
			window.matchMedia("(prefers-color-scheme: dark)").matches) {
		const l = document.head.appendChild(document.createElement("link"));
		l.rel = "icon";
		l.href = "/favicon-white.ico";
	}

</script>

</html>
