---
import { Icon } from "astro-icon/components";
import config from "☆js/site.config";
import type { Friend } from "☆js/site.config";
import PostLayout from "☆layouts/PostLayout.astro";

const { friends } = config;
---

<PostLayout padded={true} title="Friends" description="Friends!!~">
	<Fragment slot="aside-left">
		<nav>
			<a class="styled font-sans" href="/">
				<Icon
					name="material-symbols:arrow-back"
					class="inline-block align-middle"
				/>
				<span>Home</span>
			</a>
		</nav>
		<div class="flex-1"></div>
	</Fragment>

	<Fragment slot="title">
		<div class="flex flex-col">
			<h2 class="font-semibold text-2xl">Friends</h2>
			<div class="flex flex-row items-center gap-2.5 text-gray-11 font-sans">
				<span>The huzz </span>
			</div>
		</div>
	</Fragment>

	<Fragment slot="article">
		friends!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 88x31 ~> <img
			src="/88x31.webp"
			width="88"
			height="31"
			class="badge"
		/>

		<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
			{
				friends
					.sort(() => Math.random() - 0.5)
					.map((friend: Friend) => (
					<div class="flex flex-col items-center">
						<a href={friend.link} target="_blank" rel="noopener nofollow">
							<img
								alt={friend.name}
								src={friend.image}
								width="88"
								height="31"
								class="badge"
							/>
						</a>
					</div>
				))
			}
		</div>
	</Fragment>
</PostLayout>

<style>
.badge {
	image-rendering: pixelated;
}
</style>
