---
import "%css/global.sass";
import "%css/rain.css";
import routes from "%js/routes.json";

import JBMono from "%components/JBMono.astro";
import NavBar from "%components/NavBar.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="a rainy place" class="bg-gradient-to-b from-[#202020] to-[#111119] text-[#ddd] overflow-hidden h-screen font-jbmono">
    <link slot="head" rel="icon" href="/maisy/img/favicon.gif" type="image/gif">

    <JBMono />
    <div class="rain front-row" />
    <div class="rain back-row" />

    <main class="absolute z-999 p-4 w-full h-full overflow-auto">
        <NavBar routes={routes}/>
        <slot />
    </main>
</BaseLayout>

<script>
    import rainmaker from "%js/rain";

    rainmaker();
</script>
