@font-face {
  font-family: "Geist Fallback";
  src: local("Arial");
  ascent-override: 95.94%;
  descent-override: 28.16%;
  line-gap-override: 0%;
  size-adjust: 104.76%;
}

@font-face {
  font-family: "Source Serif 4 Fallback";
  src: local("Times New Roman");
  ascent-override: 87.87%;
  descent-override: 28.41%;
  line-gap-override: 0%;
  size-adjust: 117.91%;
}
