.lambda {
	color: #29d398;
	font-weight: bold;
	font-weight: 900;
}
.terminal-container {
	overflow: hidden;
}

.terminal-content {
	overflow-y: auto;
	overflow-x: hidden;
}

.command-line {
	white-space: nowrap;
}

.command {
	color: #d5d8da;
}

.response {
	color: #d5d8da;
	padding-left: 1rem;
}

.cursor {
	animation: blink 1s step-end infinite;
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.blog-item:hover {
	background-color: rgba(255, 255, 255, 0.05);
}

.typing-line {
	white-space: nowrap;
}
